@tailwind base;
@tailwind components;
@tailwind utilities;

/* ============================= */
/* RESET BÁSICO */
/* ============================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #061923;
  color: white;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* ============================= */
/* GRADIENTE ANIMADO */
/* ============================= */

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  animation: gradientMove 15s ease infinite;
}

/* Linha neon */
.neon-divider {
  height: 1px;
  background: linear-gradient(90deg, transparent, #ff6a00, transparent);
  box-shadow: 0 0 15px #ff6a00;
}


/* ============================= */
/* GLOW NO TÍTULO */
/* ============================= */

.hero-glow {
  text-shadow: 0 0 25px rgba(255, 106, 0, 0.35);
}

/* ============================= */
/* SCROLLBAR MODERNA */
/* ============================= */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #061923;
}

::-webkit-scrollbar-thumb {
  background: #0b3d5c;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff6a00;
}
